<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1" style="background-color: #17174b"><br></div>
            <div class="col-11" style="background-color: #03031b">
                <br>
                <header style="color: white;">Editor HTML: <a href="https://code.visualstudio.com/"><span style="color:#21c256">Visual Studio Code</span> </a></header>
                <br>
            </div>
        </div>
    </div> 
  </footer>