<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>

    <body>
        <!--<link rel="stylesheet" href="../css/style.min.css">-->
        <div  class="problem">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <header><h3><strong>PET-Z</strong></h3></header>
                    <header><h4><strong>Menú</strong></h4></header>
                    <!--<li><a href="/muestras/list">Muestras</a></li>-->
                    <!--<% if ( isLoggedIn ) { %>
                        <li><a href="/login/adduser">Agregar nuevo usuario</a></li>
                    <% } %>-->
        
                    <li><a href="/zombies/list">Lista de Zombies</a></li>
                    <br>
                    <li><a href="/zombies/add">Registrar Nuevo Estado</a></li>
                    <br>
                    <li><a href="/zombies/add_new_z">Registrar Nuevo Zombie</a></li>
                </div>
                <div class="col-1"></div>
            </div>
            <br><br><br><br><br><br>
          
            <br><br><br><br><br><br>
        </div>
    </body>
    <%- include('includes/footer.ejs') %>

    